.animationBox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 1 takes all the remaining space/height so that icon can be in the center */
  flex: 1;
}
.animationStyle {
  width: 350px;
}
