.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.paginationButton {
  padding: 0.8rem 1rem;
  background-color: var(--pagination-btn);
  border: 1px solid var(--pagination-btn);
  border-radius: 14px;
  font-weight: bold;
}
.paginationButton:enabled:hover {
  cursor: pointer;
  background-color: var(--pagination-hover-btn);
}
.paginationButton:disabled {
  cursor: default;
  opacity: 0.8;
}
.arrowDisabled {
  opacity: 0.2;
}
.allPageNumbers {
  display: flex;
  gap: 1rem;
  font-weight: bold;
}
.singlePageNumber {
  padding: 0.5rem 0.8rem;
  border: solid 2px var(--background);
  border-radius: 14px;
}
.selectedPageNumber {
  padding: 0.5rem 0.8rem;
  background-color: red;
  border: solid 2px var(--background);
  border-radius: 14px;
}
.singlePageNumber:hover {
  border: solid 2px var(--pagination-btn);
  cursor: pointer;
}
