.articlePage {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}
.articleBg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/assets/paw-print.jpg");
  background-size: cover;
  /* width: 55rem; */
  width: 100%;
  /* min-height: 40rem; */
  height: 100vh;
  /* border-radius: 8px; */
}
.article {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 2rem;
  /* margin: 2rem; */
  min-height: 40rem;
  width: 55rem;
  /* width: 100%; */
  /* height: 100vh; */
  border-radius: 8px;
}
