.articlePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.articleBg {
  background-image: url("../../public/assets/paw-print.jpg");
  background-size: cover;
  min-height: 40rem;
  width: 60rem;
  border-radius: 8px;
}
.article {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 40rem;
  height: auto;
  padding: 2rem;
  border-radius: 8px;
}
